* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: blue;
  background-image: linear-gradient(to left,
      rgb(97, 171, 201) 50%,
      rgb(15, 144, 196));
}